<%- include('partials/header') %>
<%- include('partials/nav') %>
<% if(notAllowed) { %>
	<p>You are not allowed to do that action</p>
<% } %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
<%- include('partials/footer') %>
