<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<h1>All Users</h1>



<% all_users.forEach((user) => { %>
	<a href="/users/<%= user.username %>"><%= user.username %></a>
<% }); %>


<%- include('../partials/footer') %>
